#titulo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;

    color: rgb(23,234,34);
    border: 3px solid red;
    width: 100px;
    height: 60px;
    overflow: scroll; 
    margin: 60px solid;
    padding: 20px solid;
} 